<div class="col-md-3">
    <div class="list-group">
        <a id="m-5" href="{{url_for('home.user')}}" class="list-group-item">
            <span class="glyphicon glyphicon-user"></span>&nbsp;member center
        </a>
        <a id="m-1" href="{{url_for('home.pwd')}}" class="list-group-item">
            <span class="glyphicon glyphicon-lock"></span>&nbsp;change password
        </a>
        <a id="m-2" href="{{url_for('home.comm')}}" class="list-group-item">
            <span class="glyphicon glyphicon-comment"></span>&nbsp;comment record
        </a>
        <a id="m-3" href="{{url_for('home.login_log')}}" class="list-group-item">
            <span class="glyphicon glyphicon-calendar"></span>&nbsp;login log
        </a>
        <a id="m-4" href="{{url_for('home.coll')}}" class="list-group-item">
            <span class="glyphicon glyphicon-heart"></span>&nbsp;collect movies
        </a>
    </div>
</div>