{% extends "home/home.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb" style="margin-top:10px;">
            <li>x films related to "xxx"</li>
        </ol>
    </div>
    <div class="col-md-12">
        {% for v in range(7) %}
        <div class="media">
            <div class="media-left">
                <a href="{{url_for('home.movie_play')}}">
                    <img class="media-object" src="{{url_for('static', filename='animation/main_banner/big0020150102211033.jpg')}}" style="width: 71px; height: 83px" alt="Blade Runner">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Blade Runner<a href="{{url_for('home.movie_play')}}" class="label label-primary pull-right"><span
                        class="glyphicon glyphicon-play"></span>play</a></h4>
                A story about cloning person.....
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-md-12 text-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="First">
                        <span aria-hidden="true">first page</span>
                    </a>
                </li>
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">previous</span>
                    </a>
                </li>
                <li><a href="#">1&nbsp;/&nbsp;1</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">next</span>
                    </a>
                </li>
                <li>
                    <a href="#" aria-label="Last">
                        <span aria-hidden="true">last page</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}